# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Editor (optional)
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
.env
.env.*
node_modules/
